<VirtualHost *:80>
        ServerName fiveringsdb.com
        ServerAlias *.fiveringsdb.com
        DocumentRoot /var/www/fiveringsdb/web
        <Directory /var/www/fiveringsdb/web>
                Options FollowSymLinks MultiViews
                AllowOverride all
                Require all granted
        </Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
