{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-5">
            {% include 'cards/card-text.html.twig' with { 'card': card } only %}
        </div>
        <div class="col-4">
            <img src="{{ asset(card.code ~ '.jpg', 'img') }}">
        </div>
        <div class="col-3">
            (ad)
        </div>
    </div>
{% endblock %}
